.comment:hover span {
     background-color: #0A171F;
}

.reposts:hover span {
     background-color: #071A14;
}

.likes:hover span {
     background-color: #200914;
}

.views:hover span {
     background-color: #0A171F;
}

.comment, .likes, .reposts, .views, .savaAndShare {
     transition: all 0.3s ease-in;
}


.post .content img {
     box-shadow: 1px 1px 7px white;
}

.top, .searchParent {
     backdrop-filter: blur(10px);
     -webkit-backdrop-filter: blur(10px);
}

.top {
     background-color:rgba(0, 0, 0, 0.652);
}